<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anime Search Results</title>
  </head>
  <body>
    <h1>Anime Profile</h1>
    <p> Aired _from : {{ anime.1}} </p>
    <p> Aired _to : {{ anime.2}} </p>
    <p> duration : {{ anime.3}} </p>
    <p> Episodes : {{ anime.4}} </p>
    <p> Genres : {{ anime.5}} </p>
    <p> Premiered : {{ anime.6}} </p>
    <p> certification : {{ anime.7}} </p>
    <p> source : {{ anime.8}} </p>
    <p> synopsis : {{ anime.9}} </p>
    <p> eng_title : {{ anime.10}} </p>
    <p> japanese_title : {{ anime.11}} </p>
    <p> type : {{ anime.12}} </p>
    <p> rating : {{ anime.14}} </p>

    {% if val_f %}
    <button >Added to Favorites!</button>
    {% else %}
      <form method="post" name="add-to-fav-form">
        {% csrf_token %}
        <input type="hidden" name="type" value="1">
        <button type="submit" name="add-to-fav-btn">Add to Favorites</button>
      </form>  
    {% endif %}  

    <h1>Anime Status</h1>
    <form method="POST">
      {% csrf_token %}
      <label for="status">Status:</label>
      <select name="status" id="status">
        <option value="" {% if not val %} selected {% endif %}>Not chosen</option>
        <option value="watching" {% if val == 1 %} selected {% endif %}>Watching</option>
        <option value="completed" {% if val == 2 %} selected {% endif %}>Completed</option>
        <option value="planning" {% if val == 3 %} selected {% endif %}>Planning</option>
      </select>
      <input type="submit" value="Save">
      <input type="hidden" name="type" value="0">
    </form>
  </body>
</html>
