<!DOCTYPE html>
<html>
<head>
	<title>MyAnimeSite</title>
</head>
<body>
	<div>
		<h1>Welcome to MyAnimeSite</h1>
		<p>Choose from the following options:</p>
		<a href="{% url 'searchanime' username%}"><button>Anime</button></a>
		<a href="{% url 'searchmanga' username%}"><button>Manga</button></a>
        <a href="{% url 'searchnovel' username%}"><button>Novels</button></a>
        <a href="{% url 'myprofile' username %}"><button>Profile</button></a>
        <a href="{% url 'friends' username %}"><button>Friends</button></a>
        <a href="{% url 'mylist' username %}"><button>mylist</button></a>
		<a href="{% url 'inbox' username %}"><button>inbox</button></a>
        <a href="{% url 'recommended' username %}"><button>Recommended for you</button></a>

	</div>
	<form action = "" method = "post">
		{% csrf_token %}
		{{form}}
		<input type = "submit" value = Submit>
	</form>
	
	{% if anime_list %}
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>English Title</th>
            <th>Japanese Title</th>
            <th>Episodes</th>
            <th>Aired From</th>
            <th>Aired To</th>
			<th>Source</th>
          </tr>
        </thead>
        <tbody>
          {% for anime in anime_list %}
            <tr>
              <td><a href="{% url 'animeprofile' username anime.0 %}"><button>View</button></a></td>
              <td>{{ anime.1}}</td>
              <td>{{ anime.2}}</td>
              <td>{{ anime.3}}</td>
              <td>{{ anime.4}}</td>
              <td>{{ anime.5}}</td>
			  <td>{{ anime.6}}</td>
            </tr>
          {% endfor %}
		  {% endif %}

        </tbody>
      </table>
</body>
</html>
