<!DOCTYPE html>
<html>
<head>
	<title>MyAnimeSite</title>
</head>
<body>
	<div>
		<h1>Welcome to MyAnimeSite</h1>
		<p>Choose from the following options:</p>
		<a href="{% url 'mylist_s' username%}?status=1"><button>Completed</button></a>
		<a href="{% url 'mylist_s' username%}?status=2"><button>Planing</button></a>
        <a href="{% url 'mylist_s' username%}?status=3"><button>Favourites</button></a>
        <a href="{% url 'mylist_s' username%}?status=4"><button>Watching</button></a>
	</div>
    {% if flag %}
        <h1>Anime Search Results</h1>
        {% if anime_list %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>English Title</th>
                <th>Japanese Title</th>
                <th>Episodes</th>
                <th>Aired From</th>
                <th>Aired To</th>
                {% if query == '1'%}
                    <th>Score</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for anime in anime_list %}
                <tr>
                <td>{{ anime.0}}</td>
                <td>{{ anime.1}}</td>
                <td>{{ anime.2}}</td>
                <td>{{ anime.3}}</td>
                <td>{{ anime.4}}</td>
                <td>{{ anime.5}}</td>
                {% if query == '1'%}
                    <td>{{ anime.6}}</td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No results found.</p>
        {% endif %}
    {% endif %}
  </body>
</html>