<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  </head>
  <body>

    {% if flag %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
    {% endif %}  

    {% if name_flag %}
      <h2>Username Already Exists!.Try Another</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
    {% endif %}

    {% if confirm_flag %}
      <h2>Confirm The Passcode Again!.</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
    {% endif %}

  </body>
</html>